@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap');
>>>>>>> 3ec3c41bd1f11540d85515723bab2bb7f24eff21

@theme {
    --color-*:initial;
    --color-purple: #BFA2DB;
    --color-graypurple: #C7C1DB;
    --color-purpledark: #9643E6;
    --color-extradarkpurple: #2A3659;
    --color-gray: #C7C1DB;
    --color-blue: #C2E9F9;
    --color-white: #F8F9F8;
    --color-lightgreen: #B8E4C9;
    --color-gren: #D8F8B7;
    --color-pink: #FF7CA8;
    --color-salmon: #FFA07A;
    --color-yellow: #FFDD59;
    --color-black: #000;
    --color-lightwhite: #ffff;
    --color-blackwhite: #1E1E1E;
    --color-grennSemiDark: #B8E4C9;
    --color-purpleborde: #A259E8;

    --font-primary: 'Nunito Sans', sans-serif;
    --font-secondary: 'DM Sans', sans-serif;
    --font-tertiary: 'Open Sans', sans-serif;
    --color-gray1: #1E1E1E;
    --color-footer: #C2B8E5;
    --color-blueG: #899BBD;
    --color-graylight: #F6F9FF;
}

html, body, #root {
  height: 100%;
}